@using FreyaMusicStore
@{
    Layout = "mylayout";
}

@section Main
{
   
<h2>Checkout Complete</h2>

<p>Thanks for your order!</p>

<p>
    How about shopping for some more music in our <a href="@Uris.home">store</a>?
</p>

}