@using FreyaMusicStore
@{
    Layout = "layout";
}

@section Main
{
<h3>Browse Genres</h3>

<p>
    Select from @Model.Length genres:
</p>
<ul>
    @foreach (var genre in Model)
    {
    <li><a href="@String.Format(@Uris.genre, genre)">@genre</a></li>
    }
</ul>
}