<!DOCTYPE html>
<html>
<head>
    <title>Freya Music Store</title>
    <link href="/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="header">
        <h1><a href="/">FREYA MUSIC STORE</a></h1>
        <ul id="navlist">
            <li class="first"><a href="/" id="current">Home</a></li>
            <li><a href="/genres">Genres</a></li>
            <li><a href="/albums">Albums</a></li>
            <!-- <li> Html.RenderAction("CartSummary", "ShoppingCart");}</li>
             -->
        </ul>
    </div>

    <!-- Html.RenderAction("GenreMenu", "Store"); -->

    <div id="main">
        @RenderSection("Main")
    </div>

    <div id="footer">
        built with <a href="http://docs.freya.io/en/latest/">Freya</a> and <a href="http://fsharp.org">F#</a>
    </div>
</body>
</html>