@using FreyaMusicStore
@{
    Layout = "layout";
}

@section Main
{
<h2>Log On</h2>
<p>
    Please enter your user name and password. <a href="@Uris.register">Register</a> if you don't have an account.
</p>
<p style="color: red">
    @Model.ValidationMsg
</p>
<form method="POST" action="@String.Format("{0}?returnUrl={1}", Uris.sessions, Model.ReturnUrl)">
    <div>
        <fieldset>
            <legend>Account Information</legend>

            <div class="editor-label">User Name</div>
            <div class="editor-field">
                <input type="text" name="UserName" required />
            </div>

            <div class="editor-label">Password</div>
            <div class="editor-field">
                <input type="password" name="Password" required/>
            </div>

            <p>
                <input type="submit" value="Log On" />
            </p>
        </fieldset>
    </div>
</form>
}