<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aether" version="6.0" targetFramework="net451" />
  <package id="Arachne.Core" version="1.0.7" targetFramework="net451" />
  <package id="Arachne.Http" version="1.0.7" targetFramework="net451" />
  <package id="Arachne.Http.Cors" version="1.0.7" targetFramework="net451" />
  <package id="Arachne.Language" version="1.0.7" targetFramework="net451" />
  <package id="Arachne.Uri" version="1.0.7" targetFramework="net451" />
  <package id="Arachne.Uri.Template" version="1.0.7" targetFramework="net451" />
  <package id="Chiron" version="4.0.0" targetFramework="net451" />
  <package id="FParsec" version="1.0.1" targetFramework="net451" />
  <package id="Freya" version="1.0.185" targetFramework="net451" />
  <package id="Freya.Core" version="1.0.185" targetFramework="net451" />
  <package id="Freya.Lenses.Http" version="1.0.185" targetFramework="net451" />
  <package id="Freya.Lenses.Http.Cors" version="1.0.185" targetFramework="net451" />
  <package id="Freya.Machine" version="1.0.185" targetFramework="net451" />
  <package id="Freya.Machine.Extensions.Http" version="1.0.185" targetFramework="net451" />
  <package id="Freya.Machine.Extensions.Http.Cors" version="1.0.185" targetFramework="net451" />
  <package id="Freya.Machine.Router" version="1.0.185" targetFramework="net451" />
  <package id="Freya.Recorder" version="1.0.185" targetFramework="net451" />
  <package id="Freya.Router" version="1.0.185" targetFramework="net451" />
  <package id="FSharp.Core" version="3.1.2.1" targetFramework="net451" />
  <package id="Hekate" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="RazorEngine" version="3.7.0" targetFramework="net451" />
  <package id="SQLProvider" version="0.0.9-alpha" targetFramework="net451" />
</packages>